body {
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
  }

#canvas{
display: flexbox;

}
.container{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}

.hidden{
  display: none;
}