body {
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    background-image: src/;
  }

#canvas{
display: flexbox;

}
.container{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}

.hidden{
  display: none;
}

#GameOver{
  position: absolute;
  margin-top: -16px;
  margin-left:400px ;
}

#botonStart{
  background-color:goldenrod;
  position: absolute;
  margin-top: 300px;
  margin-left: -80px;
  border-radius: 5px;
}