body {
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 0px;
  }

#nave{display:none;}

#enemigo{display: none;}

#caja{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content:flex-start;
  margin: 20px 50px 0 200px;
}
.container{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content:flex-start;
  margin-top: -130px;
  background-color: white;
}